{%extends 'base.html'%}
{%block title%}Crear {%endblock%}
{%block content%}
<section class="contenedor">
<h1 class="mb-5 titulo">Cuentanos que pasa?</h1>
<form action="{{url_for('tiako.create')}}" method="POST" class="forma">
   
    <label for="Comentario">Tu historia</label>
    <div class="contenedor-inputs">
    <textarea name="historia" id="" cols="90" rows="10" placeholder="Tu historia"></textarea>
</div>
<button type="submit" id="btn-abrir-popup" class="btn-abrir-popup">Liberar tu historia</button>
</form> 
</section>



{%endblock%}

