<!DOCTYPE html>
<title>{%block title%}{%endblock%} - Tiako - No Estas Solo</title>
<link rel="stylesheet" href="{{url_for('static',filename='estilos.css')}}">

   
<section class="content">
    <header>
        {%block header%}
        {%endblock%}
        <nav>
        
            <a href="https://discord.gg/Y5hbEm4Ep3">Discord</a>
            <!-- <a href="#">Urgente</a> -->
        </nav>
       
       <section class="textos-header">
           <h1> Jamás estamos solos</h1>
           <h2> Nosotros te apoyamos</h2>
           
       </section>
       <img src="logo.png" alt="">
       <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C320.26,192.94 109.76,-47.84 500.00,49.98 L531.88,163.33 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    
    </header>
    {%for message in get_flashed_messages()%}
        <div class="flash">{{message}}</div>
    {%endfor%}
    {%block content%}{%endblock%}
</section>
